<div class="home">
  <div class="home__container">
    <carousel
      [images]="images"
      [height]=600
      [cellsToShow]=1
      [autoplay]=true
      [autoplayInterval]=3000
      [loop]=true
    >
    </carousel>

    <div class="home__row">
      <div>
        <p>12321341</p>
        <p>The Lean Startup: How Constant Innovation Creates Radically Successful Businesses Paperback</p>
        <p>11.96</p>
        <p>5</p>
        <img src = "https://images-na.ssl-images-amazon.com/images/G/15/kindle/journeys/YTdjY2M2Mzct/YTdjY2M2Mzct-NTY0Mzg1MzMt-w1500._CB663467513_.jpg">
      </div>
    </div>
</div>

