<div class="header">
  <a [routerLink]="['/']">
    <img class="header__logo" src="http://pngimg.com/uploads/amazon/amazon_PNG11.png"/>
  </a>

  <div class="header__delivered">
    <mat-icon> location_on</mat-icon>
    <div class="header__option">
      <span class="header__optionLineOne">Deliver to</span>
      <span class="header__optionLineTwo">Toronto M3M 2S5</span>
    </div>
  </div>
  <div class="header__search">
    <div class="header__searchIcon header__search_categories">
      <mat-form-field appearance="none">
        <mat-select [(ngModel)]="selectedCategory" placeholder="All Categories">
          <mat-option value="{{category.id}}" *ngFor="let category of rootCategories">{{category.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <input class="header__searchInput" type="text" [(ngModel)]="selectedKeyword"/>
    <div class="header__searchIcon" (click)="search()">
      <mat-icon>search</mat-icon>
    </div>
  </div>
  <div class="header__nav">

    <div class="header__option">
      <span class="header__optionLineOne">Hello</span>
      <span class="header__optionLineTwo">Sign In</span>
    </div>

    <div class="header__option">
      <span class="header__optionLineOne">Returns</span>
      <span class="header__optionLineTwo">& Orders</span>
    </div>


    <div class="header__option">
      <span class="header__optionLineOne">Your</span>
      <span class="header__optionLineTwo">Prime</span>
    </div>

    <div class="header__optionBasket">
        <mat-icon>shopping_cart</mat-icon>
      <span class="header__optionLineTwo header__basketCount">
            2</span>
    </div>
  </div>
</div>
