.register {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register__logo {
  object-fit: contain;
  width: 100px;
  margin: 20px auto;
}

.register__container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}

.register__container > h1 {
  font-weight: 400;
  margin-bottom: 20px;
}

.register__container > form > h5 {
  margin-bottom: 5px;
}

input {
  height: 30px;
  margin-bottom: 10px;
  width: 98%;
  border: 1px solid lightgray;
}

input:focus{
  outline-color: transparent;
  box-shadow: 0px 0px 5px 3px rgb(240,193,75);
}

p {
  margin-top: 15px;
  font-size: 12px;
}
.register__rememberMe{
  display: flex;
}
.check-box {
  width:12px;
  margin-right: 5px;
}

.check-box:hover{
  cursor: pointer;
}

.check-box:focus{
  outline-color: transparent;
  box-shadow: 0px 0px 0px 0px;
  cursor: pointer;
}

.register__rememberMe p{
  margin-top:0px;
}

:host ::ng-deep .mat-checkbox-input{
  width:100%;
  height:100%;
}

.register__signInButton {
  background: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin: 10px 0px 20px 0px;
  border-color: #a88734 #9c7e31 #846a29;
}

.register__registerButton {
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
}

.signup__role{
  display:flex;
}

.signup__role >.checkbox{
  width:12px;
  margin-right: 5px;
}
.signup__role >.checkbox:focus{
  outline-color: transparent;
  box-shadow: none;
}

.signup__role >p{
  margin-top: 5px;
  margin-right: 40px;
}

.h5_verified{
  font-weight:400;
  margin-bottom: 10px;
}

